{% if contact is defined %}
	<option value="{{ contact.id }}" selected="selected">{{ contact.name }}</optio>
{% endif %}

{% if contacts is defined %}
	<option value=""></option>
	{% for contact in contacts %}
		<option value="{{ contact.id }}">{{ contact.name }}</option>
	{% endfor %}
{% endif %}

{% if messages is defined %}
	<option value=""></option>
	{% for message in messages %}
		<option value="{{ message.id }}" content="{{ message.message }}">{{ message }}</option>
	{% endfor %}
{% endif %}