<div id="invoice_number">
	<span class="invoice-label">No. Factura: </span>
	<span class="info">{{ order.invoiceNumber }} </span>
</div>
<div id="invoice_busines_name">
	<span class="invoice-label">Razon social: </span>
	<span class="info">{{ order.customer.businessName }}</span>
</div>
<div id="invoice_rfc">
	<span class="invoice-label">RFC: </span>
	<span class="info">{{ order.customer.rfc }}</span>
</div>
<div id="invoice_address">
	<span class="invoice-label">Address: </span>
	<span class="info">{{ order.customer.fiscalAddress }}</span>
</div>
<div id="invoice_order_products">
	<table>
		<thead>
			<tr><th>Cant. </th><th>Clave</th><th>Descipcion</th><th>Precio Unit.</th><th>Importe</th></tr>
		</thead>
		<tbody>
			{% for orderItem in products %}
				<tr>
					<td>{{ orderItem['cant']}}</td>
					<td>{{ orderItem['product'].code }}</td>
					<td>{{ orderItem['product'].description }}</td>
					<td>{{ orderItem['product'].price}}</td>
					<td>{{ orderItem['product'].price * orderItem['cant']}}</td>
				</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			<tr><td colspan="4">Subtotal $</td><td id="invoice-subtotal">{{ totals['subtotal'] }}</td></tr>
			<tr><td colspan="4">Envio $</td><td id="invoice-shipping">{{ totals['shipping'] }}</td></tr>
			<tr><td colspan="4">Descuento $</td id="invoice-discount"><td>{{ totals['discount_net'] }}</td></tr>
			<tr><td colspan="4">IVA $</td><td id="invoice-iva">{{ totals['iva'] }}</td></tr>
			<tr><td colspan="4">Total $</td><td id="invoice-total">{{ totals['total'] }}</td></tr>
		</tfoot>
	</table>
</div>