{% extends 'InodataFloraBundle::base_edit.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	{% stylesheets '@InodataFloraBundle/Resources/public/css/select2.css' %}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
	<style>
		div.list-products-content{ width:100%;}
		div.list-products-content .table-1 {float:left; width:80%;}
		div.list-products-content .table-2 { float:right; width: 20%;}
	</style>
{% endblock %}
{% block javascripts %}
	{{ parent() }}	
	{% javascripts '@InodataFloraBundle/Resources/public/js/select2.js' 
				   '@InodataFloraBundle/Resources/public/js/select2_locale_es.js'
	%}
		<script type="text/javascript" src="{{ asset_url }}" ></script>
	{% endjavascripts %}
	<script>
        $(document).ready(function() { 

            var isEnteredInModal = false;
            var isCustomerToSelect2 = false;
            
            $(".inodata_customer").select2({ 
        			allowClear: true
        		});

            $(".inodata_payment_contact").select2({ 
                allowClear: true
            });

            $(".inodata_product").select2({
            	placeholder: "Selecciona un producto",
            	allowClear: true
            });

            $(".inodata_category_day, .inodata_messages").select2({
                allowClear: true
            });

            $('.inodata_dalivery_date').datepicker({ dateFormat: "yy-mm-dd" })
            
            //---Reactiva el widget de Select2 al crear nuevo Customer desde la ventana modal---//
            var element = $('.inodata_customer').closest('.sonata-ba-field-standard-natural');

            $(element).bind('DOMNodeInserted', function(){
                if(!isCustomerToSelect2){
                    var selected = $('select.inodata_customer option:last').val();
                    $('.inodata_customer').select2();
                    $('.inodata_customer').select2('val', selected);
                }
                isCustomerToSelect2 = true;
            });

            $(element).bind('DOMNodeRemoved', function(){
                isCustomerToSelect2 = false;
            });
            //---------------------------------------------------------------------------------//
            
            //--- TRUCO PARA RESOLVER EL PROBLEMA CON LOS TABS EN LA VENTANA MODAL ---//
            $('.ui-dialog').live('mouseenter', function(){
                $(this).find('.nav-tabs li').each(function(){
                    var element = $(this).find('a:first');
                    var href = $(element).attr('href');
                    var title = $(element).text();

                    $(element).remove();
                    $(this).append('<a href="'+href+'">'+title+'</a>');
                });
            });

            $('.ui-dialog .nav-tabs li > a').live('click', function(event){
            	$(this).closest('ul').children().removeClass('active');
            	$(this).parent().addClass('active');

            	var tabId = $(this).attr('href');

            	$('.ui-dialog .tab-content > div').removeClass('active');
            	$(tabId).addClass('active');
            });

            $('.sonata-ba-action').click(function(){
            	isEnteredInModal = false;
            });
            //--------------------------------------------------------------------------//
            
            $('.inodata_customer').live('change', function(){
                var url = "{{ path('inodata_flora_order_filter_contact_by_customer', {'customerId' : ' '}) }}";
                url = url.replace("%20", $(this).val());

                $.get(url, function(data){
                	$("select.inodata_payment_contact option").remove();
                	$("select.inodata_payment_contact").append(data.contacts);
                	$(".inodata_payment_contact").select2('val','');

                	customerDiscount = data.customer_discount;
                }, 'json');
            });

            // ---------------- Select a contact an load information ----------------//
            var paymentContactId = $(".inodata_payment_contact option:selected").val();
            if(paymentContactId!=""){
            	loadPaymentContactInfo(paymentContactId);
            }
            $(".inodata_payment_contact").change(function(){
                loadPaymentContactInfo($(this).val());
            });
            //--------------------------------------------------------------------//
            
            function loadPaymentContactInfo(id)
            {
            	var url = $('#get_payment_contact').val();
            	url = url.replace("%20", id);

            	$.get(url, function(contact){
            		setPContactDataOnInputs(contact);
            	}, 'json');
            }

            function setPContactDataOnInputs(contact)
            {
            	$('.payment_contact_form input').eq(0).val(contact.name);
            	$('.payment_contact_form input').eq(1).val(contact.department);
            	$('.payment_contact_form input').eq(2).val(contact.emp_number);
            	$('.payment_contact_form input').eq(3).val(contact.phone);
            	$('.payment_contact_form input').eq(4).val(contact.email);
            }

            $('.inodata_payment_contact').prev().find('input[type="text"]').keyup(function(event){
            	if(event.which == 13){
            		if($('.select2-results li:first').attr('class')=="select2-no-results" ){
            			var url = $('#create_payment_contact').val();
            			var name = $(this).val();

            			$.post(url, {'contactName' : name}, function(contact){
            				$('select.inodata_payment_contact option:selected').removeAttr("selected");
            				$('select.inodata_payment_contact')
            					.append('<option value="'+contact.id+'" selected="selected">'+contact.name+'</option>');
        						setPContactDataOnInputs(contact);
        						$(".inodata_payment_contact").select2('val', contact.id);
        						$(".inodata_payment_contact").select2('close');
        					}, 'json');
    					}
				}
			});

			// ------------------------ Messages --------------------------//
			$('.inodata_category_day').change(function(){
				var url = "{{ path('inodata_flora_order_filter_message_by_category', {'categoryId' : ' '}) }}";
				$(this).val()!=''?id=$(this).val():id=0;
				url = url.replace("%20", id);

				$.get(url, function(data){
					$('select.inodata_messages option').remove();
					$('select.inodata_messages').append(data.messages);
				}, 'json');
            });

            $('.inodata_messages').change(function(){
            	var message = $(this).children(':selected').text();
            	if(message!=''){
            		$('iframe').contents().find('body').text(message);
                }
            });
            //-------------------------------------------------------------//
  		
            //-- Select a product and insert to select-options and list  --//
            $(".inodata_product").change(function(){
                url = $('#add_product_url').val();
                id = $(this).val();
                url = url.replace("%20", id);
                
                $.get(url, function(data){

                    hideEmptyNotification();
                    
                    if($('#'+data.id).length==0){
                    	//Add new new row if product doesn't exist
                        $(".list-products tbody").append(data.listField);
                    }else{
                        //Update total if exist
                        var cant = parseInt($('#'+data.id+" input").val());
                    	$('#'+data.id+" input").val(cant+1);
                    }
                    
                    //Add select option with product selected
                    $(".products-to-buy").append(data.selectOption);

                    //Clear select
                    $(".inodata_product").select2('val', '');

                    //Update totals table
                    updatePriceTotals();
                    
                }, 'json');
            });
            //--------------------------------------------------------------//

            //-----Delete product from list and select options ----//
            $(".delete_link").live('click', function(){
                var id = $(this).closest("tr").attr('id');
                
				//Remove from list
                $(this).closest("tr").remove();
                //Remove from select
                $(".products-to-buy ."+id).remove();

                updatePriceTotals();
                showEmptyNotification();
            });
            //-----------------------------------------------------//
            
            //----------Load initial data for edit order ----------//
            var id = $(".order-id").val();
            $(".products-to-buy option").remove();
            
            if(id!=''){
            	var url = $("#add_products_url").val();
            	url = url.replace("%20", id);
                
                $.get(url, function(data){
                	$(".list-products tbody").append(data.listFields);
                	$(".products-to-buy").append(data.selectOptions);
                	hideEmptyNotification();
                	//Load price totals for the order editing
                	loadPriceTotals(data.totals);
                }, 'json');
            }
			//----------------------------------------//
            

            function showEmptyNotification(){
            	if($(".product").length==0){
                	$("#no_products").css('display', 'table-row'); 
                }
            }

            function hideEmptyNotification(){
            	if($("#no_products").length>0){
                    $("#no_products").css('display', 'none'); 
                }
            }

            //Update product list, select-option and prices when amount is change
            $('.product-total').live('keydown', function(event){
                if(event.which==13){
                	validateProductsTotalChange(this);
                	return false;
                }
            }).live('blur', function(){
            		validateProductsTotalChange(this);
            });

            function validateProductsTotalChange(element)
            {
            	if($(element).val().match('^(0|[0-9][0-9]*)$') && $(element).val()!='0')
              {
              	var id = $(element).closest('tr').attr('id');
            		var cant = parseInt($(element).val());

            		var nOptions = $("."+id).length;
            		while(nOptions != cant){
            			if(nOptions<cant){
            				var option = $("."+id).last().clone();
            				$(".products-to-buy").append(option);
            			}else{
            				$("."+id).last().remove();
            			}
            			nOptions = $("."+id).length;
            		}

            		updatePriceTotals();
            	}else{
            		alert('Cantidad invalida');
            	}
            }
			//------------------------------------------------------------//
			
			//-----Update prices when shipping or discount changes -----//
			$('.order-shipping, .order-discount').live('keypress', function(event){
				if(event.which==13){
					validateShippingOrDiscountChange(this);
					return false;
				}
			}).live('blur', function(){
				validateShippingOrDiscountChange(this);
			});

			function validateShippingOrDiscountChange(element)
			{
				if($(element).val().match('[0-9]+(\.[0-9][0-9]?)?')){
					updatePriceTotals();
				}else{
					alert('Cantidad invalida');
					$(element).val('0');
				}
			}
			//-------------------------------------------------------------------//
			
			//---------------- Hide select-option fields -----------------//
			hideElement($('.products-to-buy'));
			hideElement($('.order-shipping:first'));
			hideElement($('.order-discount:first'));
			
			function hideElement(element){
				$(element).closest('.control-group').css('display', 'none');
			}
			//------------------------------------------------------------//

			function loadPriceTotals(price)
			{
				$(".order-subtotal").text(price.subtotal);
				$(".order-shipping").val(price.shipping);
				$(".order-discount").val(price.discount);
				$(".order-iva").text(price.iva);
				$(".order-total").text(price.total);
			}

			function updatePriceTotals()
			{
				var o_subtotal=0.0;
				$(".product").each(function(){
					var o_price = parseFloat($(this).children(':nth-child(4)').text());
					var o_cant = parseInt($(this).find(".product-total").val());

					o_subtotal+=(o_price*o_cant);
				});

				var o_shipping = parseFloat($('.order-shipping').eq(1).val());
				var o_discount = parseFloat($('.order-discount').eq(1).val());
				var o_iva = Math.round(((o_subtotal+o_shipping-o_discount)*0.16)*100)/100;
				var o_total =  Math.round((o_subtotal+o_shipping-o_discount+o_iva)*100)/100;

				var prices = {subtotal:o_subtotal, shipping:o_shipping, 
						  discount:o_discount, iva:o_iva, total:o_total};
				  
				loadPriceTotals(prices);
			}
    });
    </script>
{% endblock %}

{% block sonata_fieldsets %}
  <input type="hidden" id="add_product_url" value="{{ path('inodata_flora_order_product', {'id' : ' '}) }}" />
  <input type="hidden" id="add_products_url" value="{{ path('inodata_flora_order_products', {'id' : ' '}) }}" />
  <input type="hidden" id="get_payment_contact" value="{{ path('inodata_flora_order_payment_contact', {'id' : ' '}) }}" />
  <input type="hidden" id="create_payment_contact" value="{{ path('inodata_flora_order_payment_contact_create') }}" />
    <div class="tab-content">
        {% for name, form_group in admin.formgroups %}
            {% if name != 'Productos' %}
                <div class="tab-pane {% if loop.first %} active{% endif %}" id="{{ name }}">
                    <fieldset>
                        <div class="sonata-ba-collapsed-fields">
                            {% if form_group.description != false %}
                                <p>{{ form_group.description|raw }}</p>
                            {% endif %}

                            {% for field_name in form_group.fields %}
                                {% if admin.formfielddescriptions[field_name] is defined %}
                                    {{ form_row(form[field_name])}}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </fieldset>
                </div>
            {% else %}
                <div class="tab-pane {% if loop.first %} active{% endif %}" id="{{ name }}">
                    <fieldset>
                        <div class="sonata-ba-collapsed-fields">
                            {% if form_group.description != false %}
                                <p>{{ form_group.description|raw }}</p>
                            {% endif %}

                            {% for field_name in form_group.fields %}
                                {% if admin.formfielddescriptions[field_name] is defined %}
                                    {{ form_row(form[field_name])}}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </fieldset>
                    {% block products_table %}
                    	<div class="list-products-content">
                    		<div class="table-1">
                            <table class="table table-bordered table-striped list-products">
                                {% block table_header %}
                                    <thead>
                                        <tr class="sonata-ba-list-field-header">
                                            {% spaceless %}
                                                <th class="sonata-ba-list-field-header-text" >
                                                    Cantidad
                                                </th>
                                                <th class="sonata-ba-list-field-header-text" >
                                                    Clave
                                                </th>
                                                <th class="sonata-ba-list-field-header-text" >
                                                    Descripción
                                                </th>
                                                <th class="sonata-ba-list-field-header-text" >
                                                    Precio
                                                </th>
                                                <th class="sonata-ba-list-field-header-text" >
                                                    Acciones
                                                </th>
                                            {% endspaceless %}
                                        </tr>
                                    </thead>
                                {% endblock %}

                                {% block table_body %}
                                    <tbody>
                                        <tr id="no_products" >
                                            <td colspan="5" class="sonata-ba-list-field sonata-ba-list-field-text" >
                                                <p class="notice">
                                                    No hay productos seleccionados.
                                                </p>
                                            </td>                 
                                        </tr>
                                    </tbody>
                                {% endblock %}

                                {% block table_footer %}
                                                 
                                {% endblock %}
                            </table>
                            </div>
                            <div class="table-2">
                            <table class="table table-bordered pay-table">
                            	<thead>
                            		<tr><th colspan="2">Totales</th></tr>
                            	</thead>
                            	<tbody>
                            		<tr><td>Subtotal:</td><td>$ <span class="order-subtotal">0</span></td></tr>
                            		<tr>
                            			<td>Envío:</td>
                            			<td>$ <input type="number" class="order-shipping" value="{{ order_shipping }}" style="width:70%;"/></td>
                            		</tr>
                            		<tr>
                            			<td>Descuento:</td>
                            			<td>$ <input type="number" class="order-discount" value="0.0" style="width:70%;"/></td>
                            		</tr>
                            		<tr style="border-bottom: 1px solid #000;">
                            			<td>IVA(16%):</td>
                            			<td>$ <span class="order-iva">0</span></td>
                            		</tr>
                            	</tbody>
                            	<tfoot>
                            		<tr>
                            			<th>Total:</th>
                            			<th>$ <span class="order-total">0</span></th>
                            		</tr>
                            	</tfoot>
                            </table>
                            </div>
                    	</div>
                    {% endblock %}
                </div>                
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
