{% extends 'InodataFloraBundle::base_edit.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	{% stylesheets 
      '@InodataFloraBundle/Resources/public/css/order_screen.css'%}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
  <script type="text/javascript">
    //Imports printers from parameters.yml via twig globals
    //Medium Letter Paper Size
    var note_printer = "{{ note_printer }}";
    var card_printer = "{{ card_printer }}";
    //Letter Paper Size
    var invoice_printer = "{{ invoice_printer }}";
  </script>	
	{% javascripts 
  	   "@InodataFloraBundle/Resources/public/js/order_admin.js"
       "@InodataFloraBundle/Resources/public/js/print.js"
       "@InodataFloraBundle/Resources/public/js/customer_admin.js"
       %}
    <script type="text/javascript" src="{{ asset_url }}" ></script>
	{% endjavascripts %}
{% endblock %}

{% block sonata_fieldsets %}
    <div class="tab-content">
        {% for name, form_group in admin.formgroups %}            
            {% if name == "tab.invoice" %}
                <div class="tab-pane {% if loop.first %} active{% endif %}" id="{{ admin.uniqid }}_{{ loop.index }}">
                    {{ block('sonata_fieldset') }}
                    {% if admin.id(object) %}
                    	{% embed 'InodataFloraBundle:Order:payment_note.html.twig' %}{% endembed %}
                    	{% if object.hasInvoice==1 %}
                    		{% embed 'InodataFloraBundle:Order:invoice.html.twig' %}{% endembed %}
                      {% else %}
                        {# TODO: Meter un botón para activar los datos de factura sin necesidad del click en checkbox y actualizar el pedido.
                          <a href="#" class="btn btn-success"><i class="icon-list-alt"></i>{{ 'button.activate_invoice'|trans({}, 'InodataFloraBundle')}}</a>
                        #}
                    	{% endif %}
                    {% else %}
                    	<div class="no-invoice-msg">Para facturar, primero debe crear la orden.</div>
                    {% endif %}
                    {% embed 'InodataFloraBundle:Order:card.html.twig' %}{% endembed %}
                </div>
            {% else %}
                <div class="tab-pane {% if loop.first %} active{% endif %}" id="{{ admin.uniqid }}_{{ loop.index }}">
                    {{ block('sonata_fieldset') }}
                    <div class="create-product-form">
                    	<div class="product-code"><label>Clave</label><input type="text" /></div>
                    	<div class="product-description"><label>Descripción</label></label><input type="text"/></div>
                    	<div class="product-price"><label>Precio</label><input type="text"/></div>
                    	<div class="product-action"><label>&nbsp;</label>
                    		<a href="javascript:void()" class="btn create-and-add-product">Crear y Agregar</a>
                    	</div>
                    </div>
                    {% embed 'InodataFloraBundle:Order:products_table.html.twig' %}{% endembed %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
{% block formactions %}
	{{ parent() }}
	<input type="submit" name="save_and_print_note" class="btn btn-print" value="{{ 'button.print_note'|trans({}, 'InodataFloraBundle')}}"/>
  {% if object.hasInvoice == 1 %}
    <input type="submit" name="save_and_print_invoice" class="btn btn-print" value="{{ 'button.print_invoice'|trans({}, 'InodataFloraBundle')}}"/>
  {% endif %}	
	{% if admin.id(object) %}
		<input type="hidden" class="post_save_action" value="{{ app.session.get('post_save_action') }}" />
	{% endif %}
{% endblock formactions %}