{% extends 'InodataFloraBundle::base_edit.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	{% stylesheets '@InodataFloraBundle/Resources/public/css/select2.css' %}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}
{% block javascripts %}
	{{ parent() }}	
	{% javascripts '@InodataFloraBundle/Resources/public/js/select2.js' 
				   '@InodataFloraBundle/Resources/public/js/select2_locale_es.js'
	%}
		<script type="text/javascript" src="{{ asset_url }}" ></script>
	{% endjavascripts %}
	<script>
        $(document).ready(function() { 

            $(".inodata_customer").select2({ 
        		placeholder: "Selecciona un cliente",
        		allowClear: true
        	});

        	$(".inodata_product").select2({
        		placeholder: "Selecciona un producto",
        		allowClear: true
            });

            $(".inodata_product").change(function(){
                url = $('#add_product_url').val();
                url = url.replace("%20", $(this).val())
                
                $.get(url, function(product){
                    if($("#no_products").length>0){
                      $("#no_products").css('display', 'none'); 
                    }
                    $(".table tbody").append(product);
                });
            });

            $(".delete_link").live('click', function(){
                $(this).closest("tr").remove();
                if($(".product").length==0){
                	$("#no_products").css('display', 'table-row'); 
                }
            });
        });
    </script>
{% endblock %}

{% block sonata_fieldsets %}
  <input type="hidden" id="add_product_url" value="{{ path('inodata_flora_order_product', {'id' : ' '}) }}" />
    <div class="tab-content">
        {% for name, form_group in admin.formgroups %}
            {% if name != 'Productos' %}
                <div class="tab-pane {% if loop.first %} active{% endif %}" id="{{ name }}">
                    <fieldset>
                        <div class="sonata-ba-collapsed-fields">
                            {% if form_group.description != false %}
                                <p>{{ form_group.description|raw }}</p>
                            {% endif %}

                            {% for field_name in form_group.fields %}
                                {% if admin.formfielddescriptions[field_name] is defined %}
                                    {{ form_row(form[field_name])}}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </fieldset>
                </div>
            {% else %}
                <div class="tab-pane {% if loop.first %} active{% endif %}" id="{{ name }}">
                    <fieldset>
                        <div class="sonata-ba-collapsed-fields">
                            {% if form_group.description != false %}
                                <p>{{ form_group.description|raw }}</p>
                            {% endif %}

                            {% for field_name in form_group.fields %}
                                {% if admin.formfielddescriptions[field_name] is defined %}
                                    {{ form_row(form[field_name])}}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </fieldset>
                    {% block products_table %}
                            <table class="table table-bordered table-striped">
                                {% block table_header %}
                                    <thead>
                                        <tr class="sonata-ba-list-field-header">
                                            {% spaceless %}
                                                <th class="sonata-ba-list-field-header-text" >
                                                    Cantidad
                                                </th>
                                                <th class="sonata-ba-list-field-header-text" >
                                                    Clave
                                                </th>
                                                <th class="sonata-ba-list-field-header-text" >
                                                    Descripción
                                                </th>
                                                <th class="sonata-ba-list-field-header-text" >
                                                    Precio
                                                </th>
                                                <th class="sonata-ba-list-field-header-text" >
                                                    Acciones
                                                </th>
                                            {% endspaceless %}
                                        </tr>
                                    </thead>
                                {% endblock %}

                                {% block table_body %}
                                    <tbody>
                                        <tr id="no_products" >
                                            <td colspan="5" class="sonata-ba-list-field sonata-ba-list-field-text" >
                                                <p class="notice">
                                                    No hay productos seleccionados.
                                                </p>
                                            </td>                 
                                        </tr>
                                    </tbody>
                                {% endblock %}

                                {% block table_footer %}
                                    <tfoot>
                                        <tr>
                                            <th colspan="5">
                                                 Totales   
                                            </th>
                                        </tr>  
                                    </tfoot>              
                                {% endblock %}
                            </table>
                    {% endblock %}
                </div>                
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}