{% extends 'InodataFloraBundle::base_edit.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	{% stylesheets '@InodataFloraBundle/Resources/public/css/select2.css'
                   '@InodataFloraBundle/Resources/public/css/main.css' %}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}

{% endblock %}
{% block javascripts %}
	{{ parent() }}	
	<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
	{% javascripts '@InodataFloraBundle/Resources/public/js/select2.js' 
				   '@InodataFloraBundle/Resources/public/js/select2_locale_es.js'
				   '@InodataFloraBundle/Resources/public/js/order_admin.js' 
	%}
	<script type="text/javascript" src="{{ asset_url }}" ></script>
	{% endjavascripts %}
{% endblock %}

{% block sonata_fieldsets %}
    <div class="tab-content">
        {% for name, form_group in admin.formgroups %}            
            {% if name == "tab.products_detail" %}                
                <div class="tab-pane {% if loop.first %} active{% endif %}" id="{{ admin.uniqid }}_{{ name|sonata_slugify }}">
                    {{ block('sonata_fieldset') }}
                    {% embed 'InodataFloraBundle:Order:products_table.html.twig' %}{% endembed %}
                </div>
            {% elseif name == "tab.card" %}
                <div class="tab-pane {% if loop.first %} active{% endif %}" id="{{ admin.uniqid }}_{{ name|sonata_slugify }}">
                    {{ block('sonata_fieldset') }}
                    <a href="#" class="btn print_card_link" title="{{ 'button.print_card'|trans({}, 'InodataFloraBundle') }}">
                        <i class="icon-print"></i>{{ 'button.print_card'|trans({}, 'InodataFloraBundle') }}
                    </a>
                </div>
            {% elseif name == "tab.invoice" %}
                <div class="tab-pane {% if loop.first %} active{% endif %}" id="{{ admin.uniqid }}_{{ name|sonata_slugify }}">
                    {{ block('sonata_fieldset') }}
                    {% if admin.id(object) %}
                    	{% embed 'InodataFloraBundle:Order:invoice.html.twig' %}{% endembed %}
                    {% else %}
                    	<div>Para facturar, primero debe crear la orden.</div>
                    {% endif %}
                </div>
            {% else %}
                <div class="tab-pane {% if loop.first %} active{% endif %}" id="{{ admin.uniqid }}_{{ name|sonata_slugify }}">
                    {{ block('sonata_fieldset') }}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block sonata_formactions %}
	{{ parent() }}
	{% if admin.id(object) %}
		<a class="btn btn-print-invoice" href="javascript:void()">
			<i class="icon-print"></i>{{ 'button.print_invoice'|trans({}, 'InodataFloraBundle') }}
		</a>
	{% else %}
		<input type="submit" class="btn btn-create-and-print-invoice" name="btn_create_and_print" value="{{ 'button.print_invoice'|trans({}, 'InodataFloraBundle') }}"/>
	{% endif %}
{% endblock %}