{% extends 'InodataFloraBundle::base_edit.html.twig' %}

{#
    probar si arregla la inclusion de javascripts utilizados por genemu bundle y otros

    {% extends 'SonataAdminBundle::standard_layout.html.twig' %}

    {% block javascripts %}
       {{ parent() }}
       {% if form is defined %}{{ form_javascript(form) }}{% endif %}
    {% endblock %}

    {% block stylesheets %}
       {{ parent() }}
       {% if form is defined %}{{ form_stylesheet(form) }}{% endif %}
    {% endblock %}
#}


{% block stylesheets %}
	{{ parent() }}
	{% stylesheets '@InodataFloraBundle/Resources/public/css/select2.css'
                   '@InodataFloraBundle/Resources/public/css/main.css' %}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}

{% endblock %}
{% block javascripts %}
	{{ parent() }}	
	<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
	{% javascripts "@InodataFloraBundle/Resources/public/js/select2.js" 
				   "@InodataFloraBundle/Resources/public/js/select2_locale_es.js"
				   "@InodataFloraBundle/Resources/public/js/order_admin.js"
				   "@InodataFloraBundle/Resources/public/js/lang/es.js"
                   "@InodataFloraBundle/Resources/public/js/print.js"
                   "@InodataFloraBundle/Resources/public/js/jquery.jeditable.min.js"
                   "@InodataFloraBundle/Resources/public/js/customer_admin.js"
	%}
	<script type="text/javascript" src="{{ asset_url }}" ></script>
	{% endjavascripts %}
{% endblock %}

{% block sonata_fieldsets %}
    <div class="tab-content">
        {% for name, form_group in admin.formgroups %}            
            {% if name == "tab.invoice" %}
                <div class="tab-pane {% if loop.first %} active{% endif %}" id="{{ admin.uniqid }}_{{ name|sonata_slugify }}">
                    {{ block('sonata_fieldset') }}
                    {% if admin.id(object) %}
                    	{% embed 'InodataFloraBundle:Order:payment_note.html.twig' %}{% endembed %}
                    	{% if object.hasInvoice==1 %}
                    		{% embed 'InodataFloraBundle:Order:invoice.html.twig' %}{% endembed %}
                    	{% endif %}
                    {% else %}
                    	<div class="no-invoice-msg">Para facturar, primero debe crear la orden.</div>
                    {% endif %}
                    {% embed 'InodataFloraBundle:Order:card.html.twig' %}{% endembed %}
                </div>
            {% else %}
                <div class="tab-pane {% if loop.first %} active{% endif %}" id="{{ admin.uniqid }}_{{ name|sonata_slugify }}">
                    {{ block('sonata_fieldset') }}
                    <div class="create-product-form">
                    	<div class="product-code"><label>Clave</label><input type="text" /></div>
                    	<div class="product-description"><label>Descripción</label></label><input type="text"/></div>
                    	<div class="product-price"><label>Precio</label><input type="text"/></div>
                    	<div class="product-action"><label>&nbsp;</label>
                    		<a href="javascript:void()" class="btn create-and-add-product">Crear y Agregar</a>
                    	</div>
                    </div>
                    {% embed 'InodataFloraBundle:Order:products_table.html.twig' %}{% endembed %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
{% block sonata_formactions %}
	{{ parent() }}
	<input type="submit" name="save_and_print_note" class="btn btn-print" value="{{ 'button.print_note'|trans({}, 'InodataFloraBundle')}}"/>
	<input type="submit" name="save_and_print_invoice" class="btn btn-print" value="{{ 'button.print_invoice'|trans({}, 'InodataFloraBundle')}}"/>
	{% if admin.id(object) %}
		<input type="hidden" class="post_save_action" value="{{ app.session.get('post_save_action') }}" />
	{% endif %}
{% endblock %}