<script type="text/javascript">
	$('document').ready(function(){
		var invoiceNumber = $('.inodata-invoice-number');
		$('.folio-container .div_content').append($(invoiceNumber).clone().attr('type', 'text'));
		$(invoiceNumber).remove();
		
		var invoiceDate = $('.inodata_invoice_date');
		$('.date .div_content').append($(invoiceDate)
				.clone().datepicker({ dateFormat: "dd/mm/yy" }));
		$(invoiceDate).remove();
		
		var inovicePCondition = $('.inodata-payment-condition');
		$('.payment-condition .div_content').append($(inovicePCondition).clone().attr('type', 'text'));
		$(inovicePCondition).remove();
		
		$('.read-only input').attr('readonly', 'readonly');
		
		var invoiceComment = $('.inodata-invoice-comment');
		$('.comments .div_content').append($(invoiceComment).clone().attr('type', 'text'));
		$(invoiceComment).remove();
		$('div.payment-note').prev().remove();
	});
</script>

<div class="invoice_page">
	<div class="header_container">
		<div class="issuing-container">
			<div class="logo"></div>
			<div class="issuing">
				<h3>{{ issuing_name }}</h3>
                <p>{{ issuing_street }} No. {{ issuing_nint }}, {{ issuing_neighborhood }} <br/>
                {{ issuing_city }}, {{ issuing_state }}, C.P. {{ issuing_cp }} <br/>
                RFC: {{ issuing_rfc }}
			</div>
			<div class="folio-container">
				<div class="div_header">{{ 'label.folio'|trans({}, 'InodataFloraBundle') }}</div>
				<div class="div_content {% if object.invoiceNumber == "" %}input-container{%else%}read-only{% endif %}">
					{{ form_widget(form['invoiceNumber']) }}
				</div>
			</div>
		</div>
		<div class="sub-header">
			<div class="receptor">
				<div class="div_header">{{ 'tab.customer'|trans({}, 'InodataFloraBundle') }}</div>
            	<div class="div_content">
            		{% if object.customer.businessName !='' %}
                    	<a href="#" class="customer-edit-in-place" data-name="bussinessName" 
                    		data-type="text" data-pk="{{object.customer.id}}">
                    		{{ object.customer.businessName }}
                    	</a><br/>
                    {% endif %}
                    {% if object.customer.fiscalAddress.street !='' %}
                    	<a href="#" class="adress-edit-in-place" data-name="street" 
                    		data-type="text" data-pk="{{object.customer.fiscalAddress.id}}">
                    		{{ object.customer.fiscalAddress.street }}
                    	</a>
                    {% endif %}
                    {% if object.customer.fiscalAddress.noExt !='' %}No. 
	                    <a href="#" class="adress-edit-in-place" 
	                    	data-name="noExt" data-type="text" data-pk="{{object.customer.fiscalAddress.id}}">
	                    	{{ object.customer.fiscalAddress.noExt }} 
	                    </a>
                    {% endif %}
                    {% if (object.customer.fiscalAddress.noInt!= '') %} Int. 
                    	<a href="#" class="adress-edit-in-place"
                    		data-name="noInt" data-type="text" data-pk="{{object.customer.fiscalAddress.id}}">
                    		{{ object.customer.fiscalAddress.noInt}}
                    	</a>
                    {% endif %}<br/>
                    
                    {% if (object.customer.fiscalAddress.neighborhood!= '') %}
	                    <a href="#" class="adress-edit-in-place"
	                    	data-name="neighborhood" data-type="text" data-pk="{{object.customer.fiscalAddress.id}}">
	                    	{{ object.customer.fiscalAddress.neighborhood }}
	                    </a>
                    {% endif %}<br/>
                    {% if (object.customer.fiscalAddress.city!= '') %}
	                    <a href="#" class="adress-edit-in-place"
	                    	data-name="city" data-type="text" data-pk="{{object.customer.fiscalAddress.id}}">
	                    	{{ object.customer.fiscalAddress.city }}
	                    </a>,
                    {% endif %}
                    {% if (object.customer.fiscalAddress.state!= '') %}
	                    <a href="#" class="address-select-state" 
	                    	data-name="state" data-type="select" data-pk="{{object.customer.fiscalAddress.id}}">
	                    	{{ object.customer.fiscalAddress.state }}
	                    </a>,
                    {% endif %} 
                    {% if (object.customer.fiscalAddress.postalCode!= '') %}C.P. 
	                    <a href="#" class="adress-edit-in-place" data-name="zip" data-type="text" data-pk="{{object.customer.fiscalAddress.id}}">
	                    	{{ object.customer.fiscalAddress.postalCode }}
	                    </a>
	                {% endif %}<br/>
                    {% if (object.customer.rfc!= '') %}R.F.C. 
	                    <a href="#" class="customer-edit-in-place" data-name="rfc" data-type="text" data-pk="{{object.customer.id}}">
	                    	{{ object.customer.rfc }}
	                   	</a>
                   	{% endif %}
                </div>
			</div>
			<div class="divisor-w"></div>
			<div class="other-details">
				<div class="expedition">
					<div class="div_header">{{ 'label.expedition_place'|trans({}, 'InodataFloraBundle') }}</div>
	                <div class="div_content">
	                    MONTERREY, N.L.
	                </div>
				</div>
				<div class="divisor-w"></div>
				<div class="date">
					<div class="div_header">{{ 'label.date'|trans({}, 'InodataFloraBundle') }}</div>
					<div class="div_content input-container"></div>
				</div>
				<div class="payment-condition">
					<div class="div_header">{{ 'label.payment_condition'|trans({}, 'InodataFloraBundle') }}</div>
					<div class="div_content input-container"></div>
				</div>
			</div>
		</div>
    </div>
    <div class="items_container">
    	<div class="items ">
        	<div class="div_header">{{ 'label.details'|trans({}, 'InodataFloraBundle') }}</div>
            <div >
        		<div class="div_content remove_corner_bottom_right ">
        			<div id="invoice_order_products">
						<table>
							<thead>
								<tr>
									<th class="amount">{{ 'label.amount'|trans({}, 'InodataFloraBundle') }}</th>
									<th class="unit"></th>
									<th class="date"></th>
									<th class="description">{{ 'label.description'|trans({}, 'InodataFloraBundle') }}</th>
									<th class="unit_price">{{ 'label.unit_price'|trans({}, 'InodataFloraBundle') }}</th>
									<th class="import">{{ 'label.import'|trans({}, 'InodataFloraBundle') }}</th>
								</tr>
							</thead>
							<tbody>
								{% if orderProducts is defined %}
					                {% if orderProducts|length > 0 %}
					                	{% for orderProduct in orderProducts %}
					                		{% include 'InodataFloraBundle:Order:_invoice_product_item.html.twig' 
					                			with {'orderProduct':orderProduct, 'total':orderProduct.quantity} %}
					                	{% endfor %}
					                {% endif %}
	            				{% endif %}
							</tbody>
							<tfoot>
								<tr>
									<td class="space" colspan="4">
										{% if object.purchaseOrder %}
											{{ 'label.purchase_order'|trans({}, 'InodataFloraBundle') }}: {{ object.purchaseOrder }}
										{% endif %}
									</td>
								</tr>
								{% if totals is defined %}
									{% if totals['discount_net'] > 0 %}
										<tr>
											<td class="td-label" colspan="5">{{ 'label.discount'|trans({}, 'InodataFloraBundle') }}</td>
											<td class="invoice-discount">{{ totals['discount_net'] }}</td>
										</tr>
									{% endif %}
									{% if totals['shipping'] > 0 %}
										<tr>
											<td class="td-label" colspan="5">{{ 'label.shipping'|trans({}, 'InodataFloraBundle') }}</td>
											<td class="invoice-shipping">{{ totals['shipping'] }}</td>
										</tr>
									{% endif %}
								{% endif %}
							</tfoot>
						</table>
					</div>
        		</div>
            </div>
        </div>
    </div>
    <div class="sumary_container">
    	<div class="tax_id_card">
    	&nbsp;<!-- Code -->
    	</div>
    	<div class="totals">
    		<div class="ammount_in_words">
    			<div class="div_header">Importe total con letra</div>
    			<div class="div_content">{{ totals['totalInLetters'] }}</div>
    		</div>
    		<div class="divisor-w"></div>
    		<div class="taxes">
	            <div class="taxes_content">
	            	<div>
	            		<div class="bold_text">{{ 'label.subtotal'|trans({}, 'InodataFloraBundle') }}</div>
	            		<div  class="invoice-subtotal">$ {% if totals is defined %}{{ totals['subtotal'] }}{% else %}{{ 0.0 }}{% endif %}</div >
	            	</div>
	            	<div>
	            		<div class="bold_text">IVA</div>
	            		<div class="invoice-iva">$ {% if totals is defined %}{{ totals['iva'] }}{% else %}{{ 0.0 }}{% endif %}</div>
	            	</div>
	            	<div>
	            		<div class="bold_text">{{ 'label.total'|trans({}, 'InodataFloraBundle') }}</div>
	            		<div class="invoice-total">$ {% if totals is defined %}{{ totals['total'] }}{% else %}{{ 0.0 }}{% endif %}</div>
	            	</div>
	            </div>
    		</div>
    		<div class="comments">
    			<div class="div_header">Observaciones</div>
    			<div class="div_content input-container"></div>
    		</div>
    	</div>
    </div>
    <div class="divisor" >&nbsp;</div>
    <div class="original_string">
    	<div class="div_header">Cadena Original</div>
        <div class="div_content">%ORIGINAL_string%</div>
    </div>
    <div class="divisor" >&nbsp;</div>
    <div class="digital_stamp">
    	<div class="div_header">Sello Digital</div>
        <div class="div_content">%DIGITAL_stamp%</div>
    </div>
    <div class="divisor" >&nbsp;</div>
    <div class="footer_container">
    	<p>Este documento es una representaci&oacute;n impresa de un CFD.<br/>
N&uacute;mero de aprobaci&oacute;n <span class="folio">%INVOICE_APROBACION%</span>.  A&ntilde;o de aprobaci&oacute;n <span class="folio">%ANO_APROBACION%</span>.
		</p>
        <a href="www.inodata.com.mx.">www.inodata.com.mx</a>
    </div>
</div>