{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}
{% block javascripts %}
	{{ parent() }}	
	{% javascripts '@InodataFloraBundle/Resources/public/js/select2.js' 
				   '@InodataFloraBundle/Resources/public/js/select2_locale_es.js'
				   '@InodataFloraBundle/Resources/public/js/lang/es.js'
	%}
	<script type="text/javascript" src="{{ asset_url }}" ></script>
	{% endjavascripts %}
	<script type="text/javascript">
		$('document').ready(function(){
			$("#filter_createdAt_value").datepicker({ dateFormat: "yy-mm-dd" });
			$("#filter_deliveryDate_value").datepicker({ dateFormat: "yy-mm-dd" });
		});
	</script>
{% endblock %}

{% block actions %}
	<div class="sonata-actions btn-group">
		{% if(view == 'details') %}
	        <a class="btn sonata-action-element" href="{{ path('admin_inodata_flora_order_list', {view:'normal'}) }}">
				{{ 'label.normal_list'|trans({}, 'InodataFloraBundle') }}
	        </a>
	    {% else %}
	        <a class="btn sonata-action-element" href="{{ path('admin_inodata_flora_order_list', {view:'details'}) }}">
				{{ 'label.detailed_list'|trans({}, 'InodataFloraBundle') }}
	        </a>
	    {% endif %}
    </div>
    {{ parent() }}
{% endblock %} 