<div class="payment-note">
	<div class="header">
		<div class="info-row">
			<div class="info no-order"><span>{{ object.id}}</span></div>
			<div class="info city-date">MONTERREY, N. L. &nbsp;&nbsp; {{ object.deliveryDate|date("d/m/Y") }}</div>
		</div>
	</div>
	<div class="payment-info">
		<div class="info-row">
			<div>NOMBRE:</div><div class="info">{{ object.to }}&nbsp;</div>
		</div>
		<div class="info-row">
			<div>COBRAR:</div><div class="space-1 info">{{ object.customer.companyName }}&nbsp; {% if object.purchaseOrder %}(Orden {{ object.purchaseOrder}}){% endif %}</div>
			<div class="space-2">DEPTO:</div><div class="info">{{ object.paymentContact.department }}&nbsp;</div>
		</div>
		<div class="info-row">
			<div>DIR. COB:</div>
				<div class="space-1 info">
					{{ object.customer.paymentAddress.street }}&nbsp;
					{{ object.customer.paymentAddress.noExt }}&nbsp;
					{{ object.customer.paymentAddress.neighborhood }}&nbsp;</div>
			<div class="space-2">No. TARJETA:</div><div class="space-3 info">{{ object.paymentContact.employeeNumber}}&nbsp;</div>
			<div class="space-5">EXT.:</div><div class="info">{{ object.paymentContact.extension}}&nbsp;</div>
		</div>
		<div class="info-row">
			<div>EMPRESA:</div><div class="space-1 info">{{ object.creator }}&nbsp;
				{% if object.reporter != "" %}
					({{ object.reporter }})
				{% endif %}
			</div>
			<div class="space-2">ORDENO:</div><div class="info">{{ object.paymentContact }}&nbsp;</div>
		</div>
		<div class="info-row">
			<div>No. EMP.:</div><div class="space-3 info"> --- </div>
			<div class="space-5">TEL:</div><div class="space-4 info">{{ object.paymentContact.phone }}&nbsp;</div>
			<div class="space-2">EMP. U OBR.:</div><div class="info"> --- </div>
		</div>
		<div class="info-row">
			<div>FACTURA:</div><div class="info">{% if (object.hasInvoice) == 1 %}{{ 'SI' }}{% else %}{{ 'NO' }}{% endif %}</div>
		</div>
		<div class="info-row">
			<div>DE:</div><div class="info">{{ object.from }}&nbsp;</div>
		</div>
	</div>
	<span class="order-id">{{ object.idInLetters }}</span>
	<div class="totals">
		<div class="products">
			<table>
				<thead>
					<tr><th class="padding"></th></tr>
				</thead>
				<tbody>
				{% if orderProducts is defined %}
	                {% if orderProducts|length > 0 %}
	                	{% for orderProduct in orderProducts %}
	                		{% include 'InodataFloraBundle:Order:_note_product_item.html.twig' 
	                			with {'product':orderProduct.product, 'total':orderProduct.quantity} %}
	                	{% endfor %}
	                {% endif%}
	            {% endif %}
				</tbody>
				<tfoot>
					<tr><td colspan="4" class="padding"></td></tr>
					<tr><td colspan="2" class="note-comments">{{ object.orderNotes }}</td>
					<td colspan="2" class="shipping">{{ object.shipping }}</td></tr>
				</tfoot>
			</table>
		</div>
	</div>
	<div class="shipping-info">
		<div class="info-row">
			<div>ENTREGA:</div><div class="info">{{ object.shippingAddress.street }} 
			{% if object.shippingAddress.noExt!='' %}#{{object.shippingAddress.noExt}}{% endif %}
			{% if(object.shippingAddress.noInt) != '' %} Int. {{object.shippingAddress.noInt}}{% endif %}</div>
		</div>
		<div class="info-row">
			<div>ENTRE:</div><div class="space-6 info">{{ object.shippingAddress.reference }}&nbsp;</div>
			<div>TEL:</div><div class="info">{{ object.shippingAddress.phone }}&nbsp;</div>
		</div>
		<div class="info-row">
			<div>COLONIA:</div><div class="space-1 info">{{ object.shippingAddress.neighborhood }}&nbsp;</div>
			<div>MUNICIPIO:</div><div class="info">{{ object.shippingAddress.city}}, {{ object.shippingAddress.state}}</div>
		</div>
        <div class="info-row">
			<div>Guia roji:</div><div class="space-1 info">{{ guiaRoji }}</div>
		</div>
	</div>
</div>