<div class="payment-note hidden_print_note">
	<div class="header">
	</div>
	
	<div class="payment-info">
		<div class="info-row">
			<div>NOMBRE:</div><div class="info">{{ object.to }}</div>
		</div>
		<div class="info-row">
			<div>COBRAR:</div><div class="space-1 info">{{ object.paymentContact }}</div>
			<div class="space-2">DEPTO:</div><div class="info">{{ object.paymentContact.department }}</div>
		</div>
		<div class="info-row">
			<div>DIR. COB:</div><div class="space-1 info">{{ object.customer.paymentAddress }}</div>
			<div class="space-2">No. TARJETA:</div><div class="space-3 info">{{ object.id }}</div>
			<div class="space-5">EXT.:</div><div></div>
		</div>
		<div class="info-row">
			<div>EMPRESA:</div><div class="space-1 info">{{ object.customer.companyName }}</div>
			<div class="space-2">ORDENO:</div><div class="info">{{ object.paymentContact }}</div>
		</div>
		<div class="info-row">
			<div>No. EMP.:</div><div class="space-3 info">{{ object.paymentContact.employeeNumber }}</div>
			<div class="space-5">TEL:</div><div class="space-4 info">{{ object.paymentContact.phone }}</div>
			<div class="space-2">EMP. U OBR.:</div><div class="info"></div>
		</div>
		<div class="info-row">
			<div>FACTURA:</div><div class="info">{% if(object.hasInvoice)==1 %}{{ 'SI' }}{% else %}{{ 'NO' }}{% endif %}</div>
		</div>
		<div class="info-row">
			<div>DE:</div><div class="info">{{ object.from }}</div>
		</div>
	</div>
	
	<div class="totals">
		<div></div><div></div>
	</div>
	<div class="shipping-info">
		<div class="info-row">
			<div>ENTREGA:</div><div class="info">{{ object.shippingAddress }}</div>
		</div>
		<div class="info-row">
			<div>ENTRE:</div><div class="space-6 info">&nbsp;</div>
			<div>TEL:</div><div class="info"></div>
		</div>
		<div class="info-row">
			<div>COLONIA:</div><div class="space-1 info">{{ object.shippingAddress.neighborhood }}</div>
			<div>MUNICIPIO:</div><div class="info">{{ object.shippingAddress.state}}</div>
		</div>
	</div>
</div>