{% block products_table %}
    <div class="list-products-content">
        <div class="table-1">
        <table class="table table-bordered table-striped list-products">
            {% block table_header %}
                <thead>
                    <tr class="sonata-ba-list-field-header">
                        {% spaceless %}
                            <th class="sonata-ba-list-field-header-text" >
                                Cantidad
                            </th>
                            <th class="sonata-ba-list-field-header-text" >
                                Descripción
                            </th>
                            <th class="sonata-ba-list-field-header-text" >
                                Precio Unitario
                            </th>
                            <th class="sonata-ba-list-field-header-text" >
                                Importe
                            </th>
                            <th class="sonata-ba-list-field-header-text" >
                                Acciones
                            </th>
                        {% endspaceless %}
                    </tr>
                </thead>
            {% endblock %}

            {% block table_body %}
                <tbody>
                {% if orderProducts is defined %}
	                {% if orderProducts|length > 0 %}
	                	{% for orderProduct in orderProducts %}
	                		{% include 'InodataFloraBundle:Order:_product_item.html.twig' 
	                			with {'product':orderProduct.product, 'total':orderProduct.quantity} %}
	                	{% endfor %}
	                {% else%}
	                	<tr id="no_products" >
	                		<td colspan="6" class="sonata-ba-list-field sonata-ba-list-field-text" >
	                            <p class="notice">No hay productos seleccionados.</p>
	                        </td>
	                    </tr>
	                {% endif %}
	            {% endif %}
                
                </tbody>
            {% endblock %}

            {% block table_footer %}
                             
            {% endblock %}
        </table>
        </div>
        <div class="table-2">
        <table class="table table-bordered pay-table">
            <thead>
                <tr><th colspan="2">Totales</th></tr>
            </thead>
            <tbody>
            	<tr>
                    <td>
                    	Descuento (-<span class="order-discount-percent">{% if totals is defined %}{{ totals['discount_percent'] }}{% else %}{{''}}{% endif %}</span>):
                    </td>
                    <td>$ 
                        <input type="number" step="any" class="order-discount" 
                        value="{% if totals is defined %}{{ totals['discount_net'] }}{% else %}{{ 0.0 }}{% endif %}" style="width:60%;"/>
                    </td>
                </tr>
                <tr>
                    <td>Envío:</td>
                    <td>$ <input type="number" class="order-shipping" 
                    	value="{% if totals is defined%}{{ totals['shipping']}}{% else %}{{ order_shipping  }}{% endif %}" style="width:60%;"/>
                    </td>
                </tr>
                <tr><td>Subtotal:</td><td>$ 
                	<span class="order-subtotal">
                		{% if totals is defined %}{{ totals['subtotal'] }}{% else %}{{ 0.0 }}{% endif %}
                	</span></td></tr>
                <tr class="iva-container">
                    <td>IVA(16%):</td>
                    <td>$ 
                    	<span class="order-iva">
                    		{% if totals is defined %}{{ totals['iva'] }}{% else %}{{ 0.0 }}{% endif %}
                    	</span></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th>Total:</th>
                    <th>$ 
                    	<span class="order-total">
                    		{% if totals is defined %}{{ totals['total'] }}{% else %}{{ 0.0 }}{% endif %}
                    	</span></th>
                </tr>
            </tfoot>
        </table>
        </div>
    </div>
{% endblock %}
