{% block inodata_mx_states_widget %}
    {% spaceless %}
        {% if expanded %}
            <ul {{ block('widget_container_attributes') }}>
            {% for child in form %}
                <li>
                    {{ form_widget(child) }}
                    {{ form_label(child) }}
                </li>
            {% endfor %}
            </ul>
        {% else %}
            {# just let the choice widget render the select tag #}
            {{ block('choice_widget') }}
        {% endif %}
    {% endspaceless %}
{% endblock %}

{% block ajax_entity_widget %}
    {% spaceless %}
        <input type="text" class="ajax-entity {% if form.vars.attr['class'] is defined %}{{form.vars.attr['class']}}{%endif%}"
            {% for index, attr in form.vars.attr %} {%if index != "class" %}{{index}} = "{{attr}}"{%endif%}{%endfor%}
            id ="{{form.vars.id}}" name="{{form.vars.full_name}}" value="{{form.vars.value}}" text="{{form.vars.data}}"></input>
    {% endspaceless %}
{% endblock %}

{% block admin_product_sonata_type_collection_widget %}
    <div id="table-order-products">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>{%trans from "InodataImperaBundle"%}label.stock{%endtrans%}</th>
                <th>{%trans from "InodataImperaBundle"%}label.created_by{%endtrans%}</th>
                <th>{%trans from "InodataImperaBundle"%}label.created_at{%endtrans%}</th>
                <th>{{"label.actions"|trans([], "InodataImperaBundle")}}</th>
            </tr>
            </thead>
            <tbody>
                {% for stock in  form %}
                    <tr>
                        <td>{{ stock['stock'].vars.value }}</td>
                        <td>{{ stock['created_by']}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}