{% for order in orders %}
{% set payments = order.paymentsTotal %}
{% set price =  order.orderTotals%}
<tr class="collector-order-row" >
	<td class="sonata-ba-list-field sonata-ba-list-field-batch" objectid="{{ order.id }}">
		<input name="idx[]" value="1" type="checkbox">
	</td>
	<td class="sonata-ba-list-field sonata-ba-list-field-integer" objectid="{{ order.id }}">
		<a href="{{ path('admin_inodata_flora_order_edit', {id:order.id}) }}">{{ order.id }}</a>
	</td>
	<td class="sonata-ba-list-field sonata-ba-list-field-text" objectid="{{ order.id }}">
		{{ order.customerAndContact() }}
	</td>
	<td class="sonata-ba-list-field sonata-ba-list-field-datetime" objectid="{{ order.id }}">
		{{ order.collectionDate|date("d/M/Y") }}
	</td>
	<td class="sonata-ba-list-field sonata-ba-list-field-text" objectid="{{ order.id }}">
		<a class="payment-details" href="{{ path('inodata_flora_collection_order_deposits', {orderId:order.id}) }}">
			${{ payments|number_format(2, '.', ',') }}
		</a>
		<span class="order-payments" style="position: absolute; visibility:hidden;" data-pk="{{ order.id }}">
		</span>
	</td>
	<td class="sonata-ba-list-field sonata-ba-list-field-text" objectid="{{ order.id }}">
		${{ price|number_format(2, '.', ',') }}
	</td>
	<td class="sonata-ba-list-field sonata-ba-list-field-actions" objectid="{{ order.id }}">
		{% if payments < price %}
			{% include 'InodataFloraBundle:Collection:_payment_action.html.twig' with {'object':order}%}
		{% endif %}
		{% if order.actualOrderPayments > 0 %}
			{% include 'InodataFloraBundle:Collection:_boxcut_action.html.twig' with {'object':order}%}
		{% endif %}
		{% if order.paymentsTotal == 0%}
			{% include 'InodataFloraBundle:Collection:_remove_action.html.twig' with {'object':order, 'ajax':'true'}%}
		{% endif %}
	</td>                            
</tr>   
{% endfor %}