{% for order in orders %}
{% set price =  order.orderTotals%}
<tr class="collector-order-row" >
	<td class="sonata-ba-list-field sonata-ba-list-field-batch" objectid="{{ order.id }}">
		<input name="idx[]" value="1" type="checkbox">
	</td>
	<td class="sonata-ba-list-field sonata-ba-list-field-integer" objectid="{{ order.id }}">
		<a href="{{ path('admin_inodata_flora_order_edit', {id:order.id}) }}">{{ order.id }}</a>
	</td>
	<td class="sonata-ba-list-field sonata-ba-list-field-text" objectid="{{ order.id }}">
		{{ order.customerAndContact() }}
	</td>
	<td class="sonata-ba-list-field sonata-ba-list-field-datetime" objectid="{{ order.id }}">
		{{ order.collectionDate|date("d/M/Y") }}
	</td>
	<td class="sonata-ba-list-field sonata-ba-list-field-text" objectid="{{ order.id }}">
		${{ price|number_format(2, '.', ',') }}
	</td>
	<td class="sonata-ba-list-field sonata-ba-list-field-actions" objectid="{{ order.id }}">
		{% if order.status =="partiallypayment" %}
			{% include 'InodataFloraBundle:Collection:_pay_action.html.twig' with {'object':order}%}
			{% include 'InodataFloraBundle:Collection:_reasign_action.html.twig' %}
			{# {% include 'InodataFloraBundle:Collection:_remove_action.html.twig' with {'object':order, 'ajax':'true'}%}#}
		{% endif %}
		{% if order.status =="closed"%}
			<span>Pagado</span>
		{% endif %}
	</td>                            
</tr>   
{% endfor %}