{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
		{% stylesheets '@InodataFloraBundle/Resources/public/css/distribution.css'%}
			<link rel="stylesheet" href="{{ asset_url }}" />
		{% endstylesheets %}
{% endblock %}
{% block javascripts %}
	{{ parent() }}	
		{% javascripts '@InodataFloraBundle/Resources/public/js/collector_admin.js'%}
			<script type="text/javascript" src="{{ asset_url }}" ></script>
		{% endjavascripts %}
{% endblock %}

{% block actions %}
	<div class="sonata-actions btn-group">
        <a class="btn sonata-action-element" href="{{ path('collection_list', {view:'quick'}) }}">
        	{{ 'label.quick_distribution'|trans({}, 'InodataFloraBundle') }}
        </a>
    </div>
{% endblock %} 