{% for order in orders %}
<tr class="messenger-order-row" >
	<td class="sonata-ba-list-field sonata-ba-list-field-batch" objectid="{{ order.id }}"> <input name="idx[]" value="1" type="checkbox"></td>
	<td class="sonata-ba-list-field sonata-ba-list-field-integer" objectid="{{ order.id }}"><a href="{{ path('admin_inodata_flora_order_edit', {id:order.id}) }}">{{ order.id }}</a></td>
	<td class="sonata-ba-list-field sonata-ba-list-field-text" objectid="{{ order.id }}">{{ order.firstProduct }}</td>
	<td class="sonata-ba-list-field sonata-ba-list-field-datetime" objectid="{{ order.id }}">{{ order.deliveryDate|date("d/M/Y") }}</td>
	<td class="sonata-ba-list-field sonata-ba-list-field-text order-{{ order.status }}" objectid="{{ order.id }}">{{ order.status|trans({}, 'InodataFloraBundle') }}</td>
	<td class="sonata-ba-list-field sonata-ba-list-field-actions" objectid="{{ order.id }}">
		{% if order.status == "intransit"%}
			<a href="javascript:void()" class="btn order-action deliver" title="Entregado" orderid="{{ order.id }}">
	    		<img src="/bundles/sonataadmin/famfamfam/accept.png" alt="Entregado">{{ 'label.delivered'|trans({}, 'InodataFloraBundle') }}
			</a>
			{#
			<a href="javascript:void()" class="btn order-action cancel" title="Cancelado" orderid="{{ order.id }}">
				<img src="/bundles/sonataadmin/famfamfam/cancel.png" alt="Cancelado">{{ 'label.remove'|trans({}, 'InodataFloraBundle') }}
			</a>
			#}
		{% endif %}
		{% include 'InodataFloraBundle:Collection:_reasign_action.html.twig' %}
	</td>  
</tr>   
{% endfor %}