{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
		{% stylesheets '@InodataFloraBundle/Resources/public/css/distribution.css'%}
			<link rel="stylesheet" href="{{ asset_url }}" />
		{% endstylesheets %}
{% endblock %}
{% block javascripts %}
	{{ parent() }}	
		{% javascripts '@InodataFloraBundle/Resources/public/js/distribution_admin.js'%}
			<script type="text/javascript" src="{{ asset_url }}" ></script>
		{% endjavascripts %}
		<script>
			$('document').ready(function(){
				$('td.sonata-ba-list-field-text').each(function(){
					var content = $(this).text().trim();
					if(content=='intransit'){
						$(this).addClass('order-intransit');
						$(this).text("En tránsito");
					}
					if(content=='delivered'){
						$(this).addClass('order-delivered');
						$(this).text("Entregado");
					}
					if(content=='open'){
						$(this).text("Abierto");
					}
				});
			});
		</script>
{% endblock %}

{% block actions %}
	<div class="sonata-actions btn-group">
        <a class="btn sonata-action-element" href="{{ path('distribution_list', {view:'quick'}) }}">
        	{{ 'label.quick_distribution'|trans({}, 'InodataFloraBundle') }}
        </a>
    </div>
{% endblock %} 