{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	{% stylesheets '@InodataFloraBundle/Resources/public/css/select2.css'
                   '@InodataFloraBundle/Resources/public/css/main.css' 
				   '@InodataFloraBundle/Resources/public/css/distribution.css' %}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}
{% block javascripts %}
	{{ parent() }}	
	<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
	{% javascripts '@InodataFloraBundle/Resources/public/js/select2.js' 
				   '@InodataFloraBundle/Resources/public/js/select2_locale_es.js'
				   '@InodataFloraBundle/Resources/public/js/distribution_admin.js'
				   '@InodataFloraBundle/Resources/public/js/lang/es.js'
	%}
		<script type="text/javascript" src="{{ asset_url }}" ></script>
	{% endjavascripts %}
{% endblock %}

{% block actions %}
{% endblock %} 

{% block list_table %}
	<b>{{ 'label.distribution_assign'|trans({}, 'InodataFloraBundle') }}</b>
	<br/><br/>
	{% block distribution_form %}
	
		<form method="post" action="{{ path('inodata_flora_distribution_add_orders_to_messenger', { 'messengerId': '2', 'orderIds': '1+3+' } ) }}" {{ form_enctype(form) }}>
			<div class="label-inline" >
				{{ form_label(distribution_form['messenger'], 'label.distribution_messenger'|trans({}, 'InodataFloraBundle') ) }}
			</div>
			<div class="label-inline" >
				{{ form_label(distribution_form['id'], 'label.distribution_id'|trans({}, 'InodataFloraBundle') ) }}
			</div>
			<div class="controls sonata-ba-field sonata-ba-field-standard-natural ">
	 			{{ form_widget(distribution_form.messenger)}}
	 			{{ form_widget(distribution_form.id)}}
			</div>

			<br/><br/>
		{% block distribution_table %}
			 <table class="table table-bordered table-striped list-products">
				{% block distribution_table_header %}
					<thead>
						<tr class="sonata-ba-list-field-header">
							{% spaceless %}
	                        	<th class="sonata-ba-list-field-header-text" >
	                            	{{ 'label.distribution_id'|trans({}, 'InodataFloraBundle') }}
	                        	</th>
	                        	<th class="sonata-ba-list-field-header-text" >
	                            	{{ 'label.distribution_details'|trans({}, 'InodataFloraBundle') }}
	                        	</th>
	                        	<th class="sonata-ba-list-field-header-text" >
	                            	{{ 'label.distribution_actions'|trans({}, 'InodataFloraBundle') }}
	                        	</th>
	                    	{% endspaceless %}
						</tr>
					</thead>
				{% endblock %}
				{% block distribution_table_body %}
					<tbody id="messenger_orders" >
						{% include 'InodataFloraBundle:Distribution:_distribution_assign_empty_list.html.twig' %}      
			     	 </tbody>
				{% endblock %}
				{% block distribution_table_footer %}
				{% endblock %}
			</table>
		{% endblock %}
		
		<a class="btn add_link" title="Edit" >
			{{ 'label.distribution_assign_button'|trans({}, 'InodataFloraBundle') }}
		</a>
		<a target="_blank" href="{{ path('inodata_flora_distribution_list_print') }}" class="btn print_link" title="Imprimir Listado" >
			<i class="icon-print" ></i>
			{{ 'label.distribution_print'|trans({}, 'InodataFloraBundle') }}
		</a>
		</form>
	{% endblock %}
	<br/><br/>
	<b>{{ 'label.distribution_title'|trans({}, 'InodataFloraBundle') }}</b><br/>
	
	
	
	{% set batchactions = admin.batchactions %}
    {% if admin.datagrid.results|length > 0 %}
        <form action="{{ admin.generateUrl('batch', {'filter': admin.filterParameters}) }}" method="POST" >
            <table class="table table-bordered table-striped">
            	{% block table_header %}
            		{{ parent() }}
            	{% endblock %}
            	{% block table_body %}
            		<tbody>
                        {% for object in admin.datagrid.results %}
                            <tr class="messenger-order-row" >
                                {% include admin.getTemplate('inner_list_row') %}
                            </tr>
                        {% endfor %}
                    </tbody>
            	{% endblock %}
            	{% block table_footer %}
            		{{ parent() }}
            	{% endblock %}
            
	 		</table>
        </form>
    {% else %}
        <p class="notice">
            {{ 'no_result'|trans({}, 'SonataAdminBundle') }}
        </p>
    {% endif %}
{% endblock %}