{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}

{% block javascripts %}
	{{ parent() }}	
	<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
	{% javascripts '@InodataFloraBundle/Resources/public/js/select2.js' 
				   '@InodataFloraBundle/Resources/public/js/select2_locale_es.js'
	%}
		<script type="text/javascript" src="{{ asset_url }}" ></script>
	{% endjavascripts %}
	<script type="text/javascript"  >
		$('document').ready(function(){	
			
			$('.inodata_delivery_date').datepicker({ dateFormat: "yy-mm-dd" });
			$('.inodata_messenger').select2();
			$('.print_link').live('click', function(){
				window.print();
			});

			$('#inodata_distribution_type_form_id').change(function(){
				var id = $(this).val()!=''?id=$(this).val():id=0;
				
				if( id != 0)
				{
					var url = Routing.generate('inodata_flora_distribution_add_preview_order_to_messenger', {orderId:id});
					
					$.get(url, function(data){
						$("tbody#messenger_orders").append(data.row);

						if( $('tbody#messenger_orders').find('tr').length > 1)
						{
							$("tbody#messenger_orders tr#no_orders").remove();
						}
						
						refreshOrders();
					}, 'json');
				}
			});

			$('.delete_link').live('click', function(){
				
				var id = $(this).parent().parent().attr('order_id');
				$(this).parent().parent().remove();
				var url = Routing.generate('inodata_flora_distribution_verify_order_status', {orderId:id});
				$.get(url, function(data){
					if( data.isValidToAdd == 'true'){
						$('#inodata_distribution_type_form_id').append(data.option);
					}
				}, 'json' );		
				
				
			});
			
			$('.add_link').live('click', function(){
				
				var messengerId = $('#inodata_distribution_type_form_messenger').val();
				var orderIds = "";
				
				$('#messenger_orders tr').each(function(){
					if( $(this).attr('id') == 'no_orders' ){
						alert('Seleccione al menos una orden');
						return;
					}
					orderIds = orderIds + $(this).attr('order_id');
					orderIds = orderIds+"+";

					
				});

				if(orderIds == ''){
					alert('Seleccione al menos una orden');
					return;
				}

				if( messengerId == '' ){
					alert('Seleccione un Repartidor');
					return;
				}
		
				var url = Routing.generate('inodata_flora_distribution_add_orders_to_messenger', { messengerId:messengerId, orderIds:orderIds } );
			
				$.get(url, function(data){
					alert('Se asignaron las ordenes al Repartidor');
					
					$('#messenger_orders > tr').each(function(){
						$(this).remove();
					});
				}, 'json');
			}); 
			

			
			function refreshOrders()
			{
				$('#messenger_orders > tr').each(function(){
					var orderPreview = $(this).attr('order_id');
					$('#inodata_distribution_type_form_id > option').each(function(){
						if( orderPreview == $(this).val() )
						{
							$(this).remove();
						}
					});
				});
			}
		});
	</script>
{% endblock %}

{% block actions %}
{% endblock %} 

{% block list_table %}
	<b>{{ 'label.distribution_assign'|trans({}, 'InodataFloraBundle') }}</b>
	{% block distribution_form %}
	
		<form method="post" action="{{ path('inodata_flora_distribution_add_orders_to_messenger', { 'messengerId': '2', 'orderIds': '1+3+' } ) }}" {{ form_enctype(form) }}>
		{{ form_label(distribution_form['messenger'], 'label.distribution_messenger'|trans({}, 'InodataFloraBundle') ) }}
		<div class="controls sonata-ba-field sonata-ba-field-standard-natural ">
	 	{{ form_widget(distribution_form.messenger)}}
		</div>
		{{ form_label(distribution_form['id'], 'label.distribution_id'|trans({}, 'InodataFloraBundle') ) }}
		{{ form_widget(distribution_form.id)}}
		
		{% block distribution_table %}
			 <table class="table table-bordered table-striped list-products">
				{% block distribution_table_header %}
					<thead>
						<tr class="sonata-ba-list-field-header">
							{% spaceless %}
	                        	<th class="sonata-ba-list-field-header-text" >
	                            	{{ 'label.distribution_id'|trans({}, 'InodataFloraBundle') }}
	                        	</th>
	                        	<th class="sonata-ba-list-field-header-text" >
	                            	{{ 'label.distribution_details'|trans({}, 'InodataFloraBundle') }}
	                        	</th>
	                        	<th class="sonata-ba-list-field-header-text" >
	                            	{{ 'label.distribution_actions'|trans({}, 'InodataFloraBundle') }}
	                        	</th>
	                    	{% endspaceless %}
						</tr>
					</thead>
				{% endblock %}
				{% block distribution_table_body %}
					<tbody id="messenger_orders" >
			        	<tr id="no_orders" >
			            	<td colspan="3" class="sonata-ba-list-field sonata-ba-list-field-text" >
			                	<p class="notice">
			                    	 Ninguna Orden agregada al listado
			                	</p>
			        		</td>                 
			       		</tr>
			     	 </tbody>
				{% endblock %}
				{% block distribution_table_footer %}
				{% endblock %}
			</table>
		{% endblock %}

		
		<a class="btn add_link" title="Edit" >
			{{ 'label.distribution_assign_button'|trans({}, 'InodataFloraBundle') }}
		</a>
		
		</form>
	{% endblock %}
	<br/><br/>
	<b>{{ 'label.distribution_title'|trans({}, 'InodataFloraBundle') }}</b><br/>
    {{ parent() }}
	<a class="btn print_link" title="Edit" >
		{{ 'label.distribution_print'|trans({}, 'InodataFloraBundle') }}
	</a>
{% endblock %}