{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	{% stylesheets '@InodataFloraBundle/Resources/public/css/select2.css'
                  '@InodataFloraBundle/Resources/public/css/main.css'
                  '@InodataFloraBundle/Resources/public/css/distribution.css'
                  '@InodataFloraBundle/Resources/public/css/sliding/preview.css'
                  '@InodataFloraBundle/Resources/public/css/sliding/template.css'%}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}
{% block javascripts %}
	{{ parent() }}	
	<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
	{% javascripts '@InodataFloraBundle/Resources/public/js/select2.js' 
				   	 '@InodataFloraBundle/Resources/public/js/select2_locale_es.js'
				   	 '@InodataFloraBundle/Resources/public/js/distribution_admin.js'
				   	 '@InodataFloraBundle/Resources/public/js/lang/es.js'
				   	 '@InodataFloraBundle/Resources/public/js/sliding/jquery.flashblue-plugins.js'
				   	 '@InodataFloraBundle/Resources/public/js/sliding/jquery.sliding-tabs-touch.js'
				   	 '@InodataFloraBundle/Resources/public/js/sliding/jquery.sliding-tabs.js'%}
		<script type="text/javascript" src="{{ asset_url }}" ></script>
	{% endjavascripts %}
	<script type="text/javascript">
		$(document).ready(function() {
			$("#slidingtabs").slidingTabs({ 
				tabActive:1, 
				responsive:true, 
				touchSupport:true, 
				tabsAlignment:"align_top", 
				autoHeight:true, 
				autoHeightSpeed:300, 
				textConversion:"pb", 
				contentEasing:"easeInOutQuart", 
				orientation:"horizontal"
			});
		});
	</script>
{% endblock %}

{% block actions %}
{% endblock %} 

{% block list_table %}
	<b>{{ 'label.distribution_assign'|trans({}, 'InodataFloraBundle') }}</b>
	<br/><br/>
	{% block distribution_form %}
		<form method="post" action="{{ path('inodata_flora_distribution_add_orders_to_messenger', { 'messengerId': '2', 'orderIds': '1+3+' } ) }}" {{ form_enctype(form) }}>
		{% block user_sliding %}
			<div id="slidingtabs" class="clean_rounded clean_rounded-horizontal sliding-tabs st_sliding_active">
				<div class="st_tabs">
					<a href="#" class="st_prev st_btn_disabled" style="display: block;">prev</a>
					<a href="#" class="st_next" style="display: block;">next</a>
					<div class="st_tabs_wrap" style="overflow: hidden;">
						<ul class="st_tabs_ul" style="margin-left: 0px;">
							<li class="st_li_first st_li_active">
								<a href="#tab-1" rel="tab-1" class="st_tab st_tab_1 st_tab_first st_tab_active">Aliquantum</a>
							</li>
							<li class="">
								<a href="#tab-2" rel="tab-2" class="st_tab st_tab_2">Beneficium</a>
							</li>
							<li class="">
								<a href="#tab-3" rel="tab-3" class="st_tab st_tab_3">Elementum</a>
							</li>
							<li class="">
								<a href="#tab-4" rel="tab-4" class="st_tab st_tab_4">Eiusmod Proident</a>
							</li>
							<li class="">
								<a href="#tab-5" rel="tab-5" class="st_tab st_tab_5">Exercitation</a>
							</li>
							<li class="">
								<a href="#tab-6" rel="tab-6" class="st_tab st_tab_6">Adipisicing et Elit</a>
							</li>
							<li class="">
								<a href="#tab-7" rel="tab-7" class="st_tab st_tab_7">Voluptate Velit</a>
							</li>
							<li class="">
								<a href="#tab-8" rel="tab-8" class="st_tab st_tab_8">Sodales a Magna</a>
							</li>
							<li class="st_li_last">
								<a href="#tab-9" rel="tab-9" class="st_tab st_tab_9 st_tab_last">Fermentum</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="st_views" style="height: 386px; overflow: hidden;">
					<div class="tab-1 st_view st_view_first st_view_active" style="position: absolute; left: 0px; height: auto;">
						<div class="st_view_inner" style="height: auto;">
							<div class="label-inline" >
								{{ form_label(distribution_form['id'], 'label.distribution_id'|trans({}, 'InodataFloraBundle') ) }}
							</div>
							<div class="controls sonata-ba-field sonata-ba-field-standard-natural ">
								{{ form_widget(distribution_form.id)}}
							</div>
						</div>
					</div>
					<div class="tab-2 st_view" style="position: absolute; left: 2560px; height: auto;">
						<div class="st_view_inner" style="height: auto;">
							#pane 2
						</div>
					</div>
					<div class="tab-3 st_view" style="position: absolute; left: 2560px;">
						<div class="st_view_inner">
							#pane 3
						</div>
					</div>
					<div class="tab-4 st_view" style="position: absolute; left: 2560px; height: auto;">
						<div class="st_view_inner" style="height: auto;">
							#pane 4
						</div>
					</div>
					<div class="tab-5 st_view" style="position: absolute; left: 2560px; height: auto;">
						<div class="st_view_inner" style="height: auto;">
							#pane 4
						</div>
					</div>
					<div class="tab-6 st_view" style="position: absolute; left: 2560px; height: auto;">
						<div class="st_view_inner" style="height: auto;">
							#pane 5
						</div>
					</div>
					<div class="tab-7 st_view" style="position: absolute; left: 2560px; height: auto;">
						<div class="st_view_inner" style="height: auto;">
							#pane 6
						</div>
					</div>
					<div class="tab-8 st_view" style="position: absolute; left: 2560px;">
						<div class="st_view_inner">
							#pane 7
						</div>
					</div>
					<div class="tab-9 st_view" style="position: absolute; left: 2560px;">
						<div class="st_view_inner">
							#pane 8
						</div>
					</div>
				</div>
			</div>			
		{% endblock %}
		{% block distribution_table %}
			 <table class="table table-bordered table-striped list-products">
				{% block distribution_table_header %}
					<thead>
						<tr class="sonata-ba-list-field-header">
							{% spaceless %}
	                        	<th class="sonata-ba-list-field-header-text" >
	                            	{{ 'label.distribution_id'|trans({}, 'InodataFloraBundle') }}
	                        	</th>
	                        	<th class="sonata-ba-list-field-header-text" >
	                            	{{ 'label.distribution_details'|trans({}, 'InodataFloraBundle') }}
	                        	</th>
	                        	<th class="sonata-ba-list-field-header-text" >
	                            	{{ 'label.distribution_actions'|trans({}, 'InodataFloraBundle') }}
	                        	</th>
	                    	{% endspaceless %}
						</tr>
					</thead>
				{% endblock %}
				{% block distribution_table_body %}
					<tbody id="messenger_orders" >
						{% include 'InodataFloraBundle:Distribution:_distribution_assign_empty_list.html.twig' %}      
			     	 </tbody>
				{% endblock %}
				{% block distribution_table_footer %}
				{% endblock %}
			</table>
		{% endblock %}
		
		<a class="btn add_link" title="Edit" >
			{{ 'label.distribution_assign_button'|trans({}, 'InodataFloraBundle') }}
		</a>
		<a target="_blank" href="{{ path('inodata_flora_distribution_list_print') }}" class="btn print_link" title="Imprimir Listado" >
			<i class="icon-print" ></i>
			{{ 'label.distribution_print'|trans({}, 'InodataFloraBundle') }}
		</a>
		</form>
	{% endblock %}
	<br/><br/>
	<b>{{ 'label.distribution_title'|trans({}, 'InodataFloraBundle') }}</b><br/>
	
	
	
	{% set batchactions = admin.batchactions %}
    {% if admin.datagrid.results|length > 0 %}
        <form action="{{ admin.generateUrl('batch', {'filter': admin.filterParameters}) }}" method="POST" >
            <table class="table table-bordered table-striped">
            	{% block table_header %}
            		{{ parent() }}
            	{% endblock %}
            	{% block table_body %}
            		<tbody>
                        {% for object in admin.datagrid.results %}
                            <tr class="messenger-order-row" >
                                {% include admin.getTemplate('inner_list_row') %}
                            </tr>
                        {% endfor %}
                    </tbody>
            	{% endblock %}
            	{% block table_footer %}
            		{{ parent() }}
            	{% endblock %}
            
	 		</table>
        </form>
    {% else %}
        <p class="notice">
            {{ 'no_result'|trans({}, 'SonataAdminBundle') }}
        </p>
    {% endif %}
{% endblock %}