{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	{% stylesheets '@InodataFloraBundle/Resources/public/css/select2.css'
                  '@InodataFloraBundle/Resources/public/css/main.css'
                  '@InodataFloraBundle/Resources/public/css/distribution.css'
                  '@InodataFloraBundle/Resources/public/css/sliding/preview.css'
                  '@InodataFloraBundle/Resources/public/css/sliding/template.css'%}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}
{% block javascripts %}
	{{ parent() }}	
	<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
	{% javascripts '@InodataFloraBundle/Resources/public/js/select2.js' 
				   	 '@InodataFloraBundle/Resources/public/js/select2_locale_es.js'
				   	 '@InodataFloraBundle/Resources/public/js/distribution_admin.js'
				   	 '@InodataFloraBundle/Resources/public/js/lang/es.js'
				   	 '@InodataFloraBundle/Resources/public/js/sliding/jquery.slidetabs.min.js'%}
		<script type="text/javascript" src="{{ asset_url }}" ></script>
	{% endjavascripts %}
{% endblock %}

{% block actions %}
{% endblock %} 

{% block list_table %}
	<b>{{ 'label.distribution_assign'|trans({}, 'InodataFloraBundle') }}</b>
	<br/><br/>
	{% block distribution_form %}
		<form method="post" action="#" {{ form_enctype(form) }}>
		{% block user_sliding %}
			<div id="slidetabs" class="slidetabs clean_rounded clean_rounded-horizontal align_top st_sliding_active">
				<div class="st_tabs">
					<a style="display: block;" href="#" class="st_prev">prev</a>
					<a style="display: block;" href="#" class="st_next st_btn_disabled">next</a>
						<div style="overflow: hidden;" class="st_tabs_wrap">
							<ul style="" class="st_tabs_ul">
							{% for messenger in messengers %}
								<li class="{% if messenger.id == first_tab %} st_li_first{% endif %}">
									{#<a href="#tab-{{ messenger.id }}" rel="tab-{{ messenger.id }}" 
										class="messenger-tab st_tab st_tab_{{ messenger.id }} 
										{% if messenger.id ==  selected_messenger%} st_tab_active{% endif %}">{{ messenger }}</a>#}
										
									<a href="#tab-{{ messenger.id }}" rel="tab-{{ messenger.id }}" 
										class="messenger-tab st_tab st_tab_{{ messenger.id }}
										{% if messenger.id == first_tab %} st_tab_first{% endif %}
										{% if messenger.id ==  selected_messenger%} st_tab_active{% endif %}
										{% if messenger.id ==  last_tab%} st_tab_last{% endif %}">{{ messenger }}</a>
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
				<div class="st_views">{{ selected_messenger }}
				{% for messenger in messengers %}
					<div class="{% if messenger.id == first_tab %}st_view_first {% endif %}
								{% if messenger.id == selected_messenger %} st_view_active{% endif %} 
								tab-{{ messenger.id }} st_view" style="
							{% if messenger.id == selected_messenger %}position: absolute; left: 0px; height: auto;
							{% else %} position: absolute; left: 2560px; height: auto;{% endif %}">
						<div class="st_view_inner" style="height: auto;">
							{# {% block distribution_table %}
								 <table class="table table-bordered table-striped list-products">
									{% block distribution_table_header %}
										<thead>
											<tr class="sonata-ba-list-field-header">
												{% spaceless %}
						                        	<th class="sonata-ba-list-field-header-text" >
						                            	{{ 'label.distribution_id'|trans({}, 'InodataFloraBundle') }}
						                        	</th>
						                        	<th class="sonata-ba-list-field-header-text" >
						                            	{{ 'label.distribution_details'|trans({}, 'InodataFloraBundle') }}
						                        	</th>
						                        	<th class="sonata-ba-list-field-header-text" >
						                            	{{ 'label.distribution_actions'|trans({}, 'InodataFloraBundle') }}
						                        	</th>
						                    	{% endspaceless %}
											</tr>
										</thead>
									{% endblock %}
									{% block distribution_table_body %}
										<tbody id="messenger_orders" >
											{% include 'InodataFloraBundle:Distribution:_distribution_assign_empty_list.html.twig' %}      
								     	 </tbody>
									{% endblock %}
									{% block distribution_table_footer %}
									{% endblock %}
								</table>
							{% endblock %}#}
							{% if messenger.id == selected_messenger %}
								<div class="inner-filters">
									<div class="label-inline" >
										{{ form_label(distribution_form['id'], 'label.distribution_id'|trans({}, 'InodataFloraBundle') ) }}
									</div>
									<div class="controls sonata-ba-field sonata-ba-field-standard-natural ">
										{{ form_widget(distribution_form.id)}}
									</div>
									<br/><br/>
								</div>
							{% endif %}
							
							{% set batchactions = admin.batchactions %}
						    {% if admin.datagrid.results|length > 0 %}
						        <form action="{{ admin.generateUrl('batch', {'filter': admin.filterParameters}) }}" method="POST" >
						            <table class="table table-bordered table-striped">
						            	{% block table_header %}
						            		{{ parent() }}
						            	{% endblock %}
						            	{% block table_body %}
						            		<tbody>
						            			
						            		</tbody>
						            	{% endblock %}
						            	{#
						            	{% if messenger.id == selected_messenger %}
							            	{% block table_body %}
							            		<tbody>
							                        {% for object in admin.datagrid.results %}
							                            <tr class="messenger-order-row" >
							                                {% include admin.getTemplate('inner_list_row') %}
							                            </tr>
							                        {% endfor %}
							                    </tbody>
							            	{% endblock %}
							            	{% block table_footer %}
							            		{{ parent() }}
							            	{% endblock %}
							            {% endif %}
							            #}
							 		</table>
						        </form>
						    {% else %}
						        <p class="notice">
						            {{ 'no_result'|trans({}, 'SonataAdminBundle') }}
						        </p>
						    {% endif %}
						</div>
					</div>
				{% endfor %}
				</div>
			</div>			
		{% endblock %}
		<a target="_blank" href="{{ path('inodata_flora_distribution_list_print') }}" class="btn print_link" title="Imprimir Listado" >
			<i class="icon-print" ></i>
			{{ 'label.distribution_print'|trans({}, 'InodataFloraBundle') }}
		</a>
		</form>
	{% endblock %}
	<br/><br/>
	<b>{{ 'label.distribution_title'|trans({}, 'InodataFloraBundle') }}</b><br/>
{% endblock %}