{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}

{% block javascripts %}
	{{ parent() }}	
	<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
	{% javascripts '@InodataFloraBundle/Resources/public/js/select2.js' 
				   '@InodataFloraBundle/Resources/public/js/select2_locale_es.js'
	%}
		<script type="text/javascript" src="{{ asset_url }}" ></script>
	{% endjavascripts %}
	<script type="text/javascript"  >
		$('document').ready(function(){	
			
			$('.inodata_dalivery_date').datepicker({ dateFormat: "yy-mm-dd" });
			
			$('.print_link').live('click', function(){
				window.print();
			});

			$('#inodata_distribution_type_form_id').change(function(){
				var id = $(this).val()!=''?id=$(this).val():id=0;
				
				if( id != 0)
				{
					var url = Routing.generate('inodata_flora_distribution_add_preview_order_to_messenger', {orderId:id});
					
					$.get(url, function(data){
						$("tbody#messenger_orders").append(data.row);

						if( $('tbody#messenger_orders').find('tr').length > 1)
						{
							$("tbody#messenger_orders tr#no_orders").remove();
						}
						
						refreshOrders();
					}, 'json');
				}
			});

			$('.delete_link').live('click', function(){
				
				var id = $(this).parent().parent().attr('order_id');
				$(this).parent().parent().remove();
				$('#inodata_distribution_type_form_id').append('<option value="'+id+'">'+id+'</option>');
			});
			
			$('.add_link').live('click', function(){
				
				var messengerId = $('#inodata_distribution_type_form_messenger').val();
			
				var orderIds = [];
				
				$('#messenger_orders > tr').each(function(){
					orderIds.push( $(this).attr('order_id') );
				});
				
				var values = {
					'orderIds': orderIds,
					'messengerId': messengerId
				}

				var url = Routing.generate('inodata_flora_distribution_add_orders_to_messenger');
				
				$.post(url, values)
				.done( function(data){
					
					alert(data.messengerId);
					alert(data.firstOrderId);
				});
			}); 
			

			
			function refreshOrders()
			{
				$('#messenger_orders > tr').each(function(){
					var orderPreview = $(this).attr('order_id');
					$('#inodata_distribution_type_form_id > option').each(function(){
						if( orderPreview == $(this).val() )
						{
							$(this).remove();
						}
					});
				});
			}
		});
	</script>
{% endblock %}

{% block list_table %}
	<b>Crear Orden de reparto</b>
	{% block distribution_form %}
	
		<form method="post" action="{{ path('inodata_flora_distribution_add_orders_to_messenger') }}" {{ form_enctype(form) }}>
		{{ form_label(distribution_form.messenger)}}
		<div class="controls sonata-ba-field sonata-ba-field-standard-natural ">
	 	{{ form_widget(distribution_form.messenger)}}
		</div>
		{{ form_row(distribution_form.id)}}
		
		{% block distribution_table %}
			 <table class="table table-bordered table-striped list-products">
				{% block distribution_table_header %}
					<thead>
						<tr class="sonata-ba-list-field-header">
							{% spaceless %}
	                        	<th class="sonata-ba-list-field-header-text" >
	                            	No. Pedido
	                        	</th>
	                        	<th class="sonata-ba-list-field-header-text" >
	                            	Detalles
	                        	</th>
	                        	<th class="sonata-ba-list-field-header-text" >
	                            	Acciones
	                        	</th>
	                    	{% endspaceless %}
						</tr>
					</thead>
				{% endblock %}
				{% block distribution_table_body %}
					<tbody id="messenger_orders" >
			        	<tr id="no_orders" >
			            	<td colspan="3" class="sonata-ba-list-field sonata-ba-list-field-text" >
			                	<p class="notice">
			                    	 Ninguna Orden agregada al listado
			                	</p>
			        		</td>                 
			       		</tr>
			     	 </tbody>
				{% endblock %}
				{% block distribution_table_footer %}
				{% endblock %}
			</table>
		{% endblock %}
		<a class="btn add_link" title="Edit" >
			Asignar
		</a>
		<input type="submit" value="Asignar" class="btn add_link" title="Asignar" />
		
		</form>
	{% endblock %}
	{{ parent() }}
	<a class="btn print_link" title="Edit" >
		Print
	</a>
{% endblock %}